<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rule your empire</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bulma/0.6.2/css/bulma.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/worldMap.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/vue/2.5.13/vue.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/vue-resource/1.3.4/dist/vue-resource.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/font-awesome/5.0.9/svg-with-js/js/fontawesome-all.js}"></script>
    <script type="text/javascript" th:src="@{/js/worldMap.js}"></script>
</head>
<body>
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">

                <div class="tile is-parent">
                    <div class="tile is-child notification is-dark">

                        <div id="mapview" th:style="'background-image:url(/maps/'+ ${worldmap.getMap().getMapFile()} +');'" class="map-background">
                            <div class="is-gapless" th:each="row : ${worldmap.yxTiles()}">
                                <div class="columns is-gapless is-mobile">
                                    <div class="column notification map-strech maptile maptip" th:each="tile: ${row}">
                                        <areabanner th:x="${tile.getX()}" th:y="${tile.getY()}" :warlord="warlord"></areabanner>
                                        <span class="maptiptext">
                                            <p th:text="${tile.getName()}"></p>
                                            <p th:text="'Terrain: ' + ${tile.getTerrain().getName()}"></p>
                                            <p th:text="'Race: ' + ${tile.getRace().getName()}"></p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!-- end of tile child -->
                </div>

                <div class="tile is-parent">
                    <article class="tile is-child notification is-dark">
                        <p class="title">Bottom information</p>
                        <button type="button" class="button" onclick="updateState()">update state</button>
                    </article>
                </div>
            </div>
            <div id="orderSection" class="tile is-parent">
                <article class="tile is-child notification is-dark">
                    <div class="content">
                        <p class="title">Warlord order section</p>
                        <button type="button" class="button" onclick="endturn()">End Turn</button>
                        <button type="button" class="button" onclick="addOrder()">Add</button>
                        <button type="button" class="button" onclick="saveOrders()">Save</button>
                        <div class="order-holder is-dark">
                            <div id="orderHolder">
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>

    </div>

</body>
<script type="text/javascript" th:src="@{/js/worldMapVue.js}"></script>
<script type="text/javascript" th:src="@{/js/worldMapBottom.js}"></script>

</html>