<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Customise your warlord</title>
</head>
<body>
    <p>Customise your warlord</p>
    <form th:action="'/warlords/create/' + ${world.getId()}" th:object="${warlord}" method="post" enctype="utf8">
        <p>You will join world <b th:text="${world.getName()}"></b></p>
        <select th:field="*{raceId}">
            <option th:each="race : ${races}" th:value="${race.getId()}" th:text="${race.getName()}"></option>
        </select>
        <input type="submit" value="Create">
    </form>
    <p th:if="${announcement}" th:text="${announcement}"></p>
    <a th:href="${linkLib.worldList}">Back to world list</a>
</body>
</html>