.maptile{
    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
}

.maptile:hover{
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.map-background{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #cccccc;
}

.map-strech{

}

.maptip {
    text-decoration:none;
    position:relative;
}
.maptip .maptiptext {
    display:none;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
}
.maptip:hover .maptiptext {
    display:block;
    position:fixed;
    overflow:hidden;
}

.area-banner{
    min-width: 100%;
    min-height: 100%;
}

.order-tile{

}

.order-type{
    margin-right: 5px;
}